.background {
  position: relative;
  background-size: cover;
  min-height: 696px;
  height: 100vh;
  background-image: url('../../assets/img/Picture-min.png');
  color: var(--inputs);
  box-sizing: border-box;
  padding-left: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  padding: 12px 0 40px 0;
}
.btn {
  margin: 0;
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  background-color: var(--button);
  color: var(--inputs);
  border-radius: 200px;
  padding: 16px 60px;
  border: none;
  height: 56px;
  width: 190px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--white);
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn:hover {
  transform: scale(1.1);
  background-color: var(--button-hover);
}
