.header {
  width: 100%;
  background-color: #f0dfb6;
  border: 1px solid rgba(248, 246, 246, 0.863);
}
.fullWidth {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 28px 64px;
  width: 100%;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 28px 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.left {
  flex: 1;
}
.pages {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.page:hover {
  color: var(--button-hover);
}

.page.active {
  color: var(--button-hover); /* або інший колір для активної сторінки */
}
.right {
  flex: 1;
}
