.container {
  display: flex;
  padding: 28px 0;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  border: 1px solid rgba(248, 246, 246, 0.863);
  box-shadow: 0 10px 12px rgba(238, 182, 61, 0.2);
}

.title {
  position: absolute;
  left: 64px;
}
.pages {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
