.camperList {
  gap: 50px;
}
.card {
  display: flex;
  /*   width: 680px; */
  max-width: 888px;
  height: 368;
  border: 1px solid var(--gray-light);
  border-radius: 20px;
  padding: 24px;
  margin-bottom: 32px;
}
.about {
  margin-left: 24px;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
  /* align-items: center; */
}
.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 19px;
  line-height: 133%;
  color: var(--main);
  margin-bottom: 8px;
}
.price {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  color: var(--main);
}
.priceBox {
  display: flex;
  /*  align-items: center; */
  gap: 6px;
}
.image {
  border-radius: 10px;
  width: 292px;
  height: 320px;
}
.favoriteBtn {
  height: 22px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.favoriteBtn:hover .iconheart {
  fill: red;
  transform: scale(1.1);
}
.favoriteBtn:active .iconheart {
  fill: rgb(142, 6, 6);
}

.iconheart {
  display: inline-block;

  stroke: none;
  fill: red; /* Дозволяє іконці успадковувати колір від батьківського елемента */
}
.details {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 24px;
}

.iconstar {
  display: inline-block;
  color: black;
  stroke: none;
  fill: currentColor;
}
.ratingText {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--main);
  margin-right: 6px;
}
.location {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--main);
}
.description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text);
  margin-bottom: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* ← показати тільки 1 рядок */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.filterlist {
  display: flex;
  flex-wrap: wrap; /* дозволяє переносити на новий рядок */
  gap: 8px 12px;
  margin-bottom: 24px;
  max-height: calc(44px * 2 + 8px); /* обмеження на 2 рядки */
  overflow: hidden;
}
.filterItem {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  padding: 12px 18px;
  font-size: 16px;
  height: 44px;
  gap: 8px;
  background: var(--badges);
}
.iconId {
}
.btn {
  margin: 0;
  font-weight: var(--font-weight-regular);
  background-color: var(--button);
  border-radius: 200px;
  height: 50px;
  width: 140px;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--white);
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn:hover {
  transform: scale(1.1);
  background-color: var(--button-hover);
}
